<div class="ui stacked segment">
  <%= f.input :first_name, wrapper_html: { class: 'field' } %>
  <%= f.input :last_name, wrapper_html: { class: 'field' } %>
  <%= f.input :email, wrapper_html: { class: 'field' } %>
  <%= f.input :password, wrapper_html: { class: 'field' } %>
  <%= f.input :uid, as: :hidden, input_html: { value: params[:token] } %>
</div>
