<div class="ui centered grid">
  <div class="row"></div>
  <div class="row">
    <div class="eight wide column">

      <% if flash.notice %>
        <div class="ui warning message">
          <%= flash.notice %>
        </div>
      <% end %>

      <% if @user %>
        <div class="ui warning message">
          <h4> User: </h4>
          <table class="ui selectable table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @user.uid %></td>
                <td><%= @user.email %></td>
                <td><%= @user.first_name %></td>
                <td><%= @user.last_name %></td>
              </tr>
            </tbody>
          </table>
          <h3> <%= link_to 'Edit profile', users_edit_path(@user) %> </h3>
          <h3> <%= link_to 'Log out', destroy_session_path, method: :delete %> </h3>
          <h3> <%= link_to 'Log in with another account', users_destroy_access_token_path, method: :delete %> </h3>
        </div>
      <% else %>
        <h3><%= link_to 'Login', '/auth/custom' %></h3>
        <h3><%= link_to 'Sign up', '/users/new' %></h3>
        <%= link_to 'http://localhost:3000/users/login_with_twitter', class: 'ui twitter button' do %>
          <i class="twitter icon"></i>
          Login with Twitter
        <% end %>
      <% end %>
    </div>
  </div>
</div>
